<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/LandingPage/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/LandingPage/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/LandingPage/css/landing-page.min.css" rel="stylesheet">

</head>

<body>

    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-calendar m-auto text-primary"></i>
                        </div>
                        <h3>Todo el Año</h3>
                        <p class="lead mb-0">Estamos disponibles 24/7</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-people m-auto text-primary"></i>
                        </div>
                        <h3>Tiempo en Familia</h3>
                        <p class="lead mb-0">Tenemos un Ambiente Familiar</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-check m-auto text-primary"></i>
                        </div>
                        <h3>Máxima Seguridad</h3>
                        <p class="lead mb-0">Todas la Certificaciones de Seguridad</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="/LandingPage/vendor/jquery/jquery.min.js"></script>
    <script src="/LandingPage/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
